.projects-menu.q-btn {
  border-radius: 0;
  height: 56px !important;
  font-size: 1.1em;
  width: 24px !important;
  min-width: 24px !important;
}

.custom-toggle .q-btn {
  border: 1px solid $primary
}

.projects-menu.q-btn--round .q-btn__wrapper {
  min-width: auto;
}

.logo-img {
  height: 32px;
  margin: 0 0 0 16px;
  flex-shrink: 0;
}

.logo-img img {
  height: 100%;
  width: 100%;
}

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.control-panel
  height: 54px
  padding: 6px 24px 7px 6px;

.content-header {
  position: sticky;
  top: 0;
  left -16px
  z-index: 10;
  background-color: #fff;
}

.minified-text
  transform: rotate(-180deg);
  writing-mode: vertical-lr;
  white-space nowrap
  text-orientation: mixed;
  display: flex !important;
  justify-content: center;
  font-size: 20px !important;

.sidebar-right
  background-color: $grey-1
  box-shadow 0 6px 18px rgba(3, 24, 48, 0.15), -1px 0px 0px #E0E2E3;
  border none !important

.hide-separator > .q-splitter__separator {
  display: none;
}

.sidebar-list
  padding $space-lg.x 0 0

  .q-item
    cursor pointer

  .q-item--active
    background-color #fff
    color $black

.text-small {
  font-size: 0.875rem
}

