@import './quasar.variables'
@import '~quasar-styl'
// @import '~quasar-addon-styl'
.q-field__control
  background: #fff

.on-left
  margin-right: 8px

.on-right
  margin-left: 8px

.q-field__bottom
  padding: 5px 8px 0

.menu-popup .q-item__section--side
  padding-right: 12px

.menu-popup .q-item__section--main ~ .q-item__section--side
  padding-right: 0
  padding-left: 12px

.menu-popup .q-icon
  font-size: 1.3em

.q-table th
  text-transform: uppercase

.td-hide-icon .q-icon
  transition opacity .2s
  color: $primary

.td-hide-icon .q-icon,
.q-item_hide-btn .q-btn,
.tr-hide-btn .q-btn
  opacity: 0;
  user-select: none;

.td-hide-icon:hover .q-icon,
.q-item_hide-btn:hover .q-btn,
.q-item.q-router-link--active .q-btn,
.tr-hide-btn.selected .q-btn,
.tr-hide-btn:hover .q-btn {
  opacity: 1;
  user-select: all;
}

.text-caption,
.q-table thead th {
  font-size: 10px
  letter-spacing: 0.8px;
  font-weight: 600;
  text-transform: uppercase;
  color $grey-6
  opacity 1
}

.q-table tbody td {
  font-size: 16px
}

.q-table tbody td:not(:last-of-type) {
  padding-right: 50px !important
}

.q-btn
  text-transform: none

.q-btn .q-icon
  font-size: 1.3em

.q-btn.disabled
  background-color: $grey-6 !important
  opacity 1 !important

.q-badge_rounded
  padding 8px 12px
  text-transform: lowercase
  border-radius: 100px

.q-timeline__subtitle
  text-transform: none
  font-weight: normal
  margin-bottom: 0
  font-size: 14px
  opacity 1
  padding-bottom: 12px

.q-timeline__content
  display: none

.q-sidebar-item-active
  background-color: #fff;

.q-splitter__panel
  display: flex
  flex-direction column

.q-timeline__subtitle {
  font-size: 1rem
  letter-spacing inherit
}
