<template>
  <div>
    <btn-secondary label="Дизайнерская кнопка" icon="add" />
  </div>
</template>

<script lang="ts">
import { Vue } from 'vue-property-decorator'
import Component from 'vue-class-component'

@Component
export default class Buttons extends Vue {}
</script>
