<template>
  <page-header title="Заголовок">
    <template v-slot:left>
      <field-input v-model="inputString" label="Фильтр" dense clearable />
    </template>
    <q-btn label="Кнопка 1" unelevated />
    <q-btn label="Кнопка 2" unelevated />
  </page-header>
</template>

<script lang="ts">
import { Vue } from 'vue-property-decorator'
import Component from 'vue-class-component'

@Component
export default class ContentHeaders extends Vue {
  inputString = ''
}
</script>
