<template>
  <div class="row">
    <div style="max-width: 400px" class="col q-col-gutter-y-sm">
      <field-input v-model="fieldInputModel" label="Обычный инпут" />
      <field-input
        v-model="fieldInputModel"
        label="Инпут с ошибкой"
        name="errorInput"
        :errors="errors"
      />
      <field-options
        :options="options"
        v-model="optionsModel"
        label="Выберите опцию"
      />
      <field-select
        :options="options"
        v-model="optionsModel"
        map-options
        emit-value
      />
      <div>
        <toggle-buttons v-model="optionsModel" :options="options" />
      </div>
      <div>
        <toggle-btn
          v-model="toggleButtonModel"
          :labels="{ on: 'Включен', off: 'Выключен' }"
        />
      </div>
      <div>
        <toggle-btn
          v-model="toggleButtonModel"
          :labels="{ on: 'Включен', off: 'Выключен' }"
          labelPosition="right"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue } from 'vue-property-decorator'
import Component from 'vue-class-component'
import FieldSelectAsync from '@/common/components/FieldSelectAsync.vue'
import ToggleButtons from '@/common/components/ToggleButtons.vue'

@Component({
  components: { ToggleButtons, FieldSelectAsync },
})
export default class Form extends Vue {
  fieldInputModel = ''
  optionsModel = 1
  toggleButtonModel = false

  errors = { errorInput: 'Текст ошибки' }

  options = [
    { value: 1, label: 'Опция 1' },
    { value: 2, label: 'Опция 2' },
    { value: 3, label: 'Опция 3' },
    { value: 4, label: 'Опция 4' },
  ]
}
</script>
