<template>
  <q-page>
    <sidebar
      @change-mini="true"
      :is-minified="false"
      :mini-mode="false"
      :width="300"
      is-show
      side="left"
    >
      <q-list>
        <q-item v-for="link in links" :to="link.route" :key="link.route.name">
          <q-item-section>{{ link.name }}</q-item-section>
        </q-item>
      </q-list>
    </sidebar>
    <template>
      <router-view />
    </template>
  </q-page>
</template>

<script lang="ts">
import { Vue } from 'vue-property-decorator'
import Component from 'vue-class-component'
import { Routes } from '@/router/routes'

@Component
export default class Index extends Vue {
  links = [
    { route: { name: Routes.toolbar }, name: 'Toolbar' },
    { route: { name: Routes.buttons }, name: 'Кнопки' },
    { route: { name: Routes.form }, name: 'Форма' },
    { route: { name: Routes.modal }, name: 'Модальные окна' },
    { route: { name: Routes.loading }, name: 'Индикаторы' },
    { route: { name: Routes.contentHeader }, name: 'Шапка страницы' },
    { route: { name: Routes.splitter }, name: 'Splitter' },
  ]
}
</script>
