<template>
  <div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium,
      eos.
    </p>
    <spinner is-show />
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium,
      eos.
    </p>
    <spinner is-show />
    <loading is-show />
  </div>
</template>

<script lang="ts">
import { Vue } from 'vue-property-decorator'
import Component from 'vue-class-component'

@Component
export default class LoadingPage extends Vue {}
</script>
