<template>
  <div>
    <q-btn
      @click="isShowModal = !isShowModal"
      unelevated
      label="Открыть модальное окно"
    />

    <modal v-model="isShowModal" title="Заголовок">
      <template v-slot:buttons>
        <q-btn label="Кнопка 1" unelevated v-close-popup />
        <q-btn label="Кнопка 2" unelevated v-close-popup />
      </template>
      <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, vel?
      </div>
    </modal>
  </div>
</template>

<script lang="ts">
import { Vue } from 'vue-property-decorator'
import Component from 'vue-class-component'
import Modal from '@/common/components/Modal.vue'

@Component({
  components: { Modal },
})
export default class Modals extends Vue {
  isShowModal = false
}
</script>
