<template>
  <splitter>
    <template v-slot:before>
      <div>
        <div style="height: 2000px">Контект с прокруткой</div>
      </div>
    </template>
    <template v-slot:after>
      <div>Контент без прокрутки</div>
    </template>
  </splitter>
</template>

<script lang="ts">
import { Vue } from 'vue-property-decorator'
import Component from 'vue-class-component'
import Splitter from '@/common/components/Splitter.vue'
@Component({
  components: { Splitter },
})
export default class SplitterPage extends Vue {}
</script>
