<template>
  <toolbar title="Заголовок" :links="links">
    <template v-slot:image>
      <img src="../assets/svg/delivery-tracking.svg" alt="" />
    </template>
    <template v-slot:right>
      <q-btn icon="history" round dense flat />
      <q-btn icon="history" round dense flat />
    </template>
  </toolbar>
</template>

<script lang="ts">
import { Vue } from 'vue-property-decorator'
import Component from 'vue-class-component'
import Toolbar from '@/common/components/Toolbar.vue'
import { Routes } from '@/router/routes'
import ToolbarLink from '@/common/dto/ToolbarLink'
@Component({
  components: { Toolbar },
})
export default class ToolbarPage extends Vue {
  links: ToolbarLink[] = [
    { route: { name: Routes.toolbar }, label: 'Toolbar' },
    { route: { name: Routes.buttons }, label: 'Кнопки' },
    { route: { name: Routes.form }, label: 'Форма' },
    { route: { name: Routes.modal }, label: 'Модальные окна' },
    { route: { name: Routes.loading }, label: 'Индикаторы' },
    { route: { name: Routes.contentHeader }, label: 'Шапка страницы' },
    { route: { name: Routes.splitter }, label: 'Splitter' },
  ]
}
</script>
