<template>
  <q-btn v-bind="$attrs" v-on="$listeners" flat no-caps class="btn-grey">
    <template v-for="(_, slot) of $scopedSlots" v-slot:[slot]="scope">
      <slot :name="slot" v-bind="scope" />
    </template>
  </q-btn>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import { Vue } from 'vue-property-decorator'

@Component
export default class BtnSecondary extends Vue {}
</script>
