<template>
  <div class="row items-center control-panel"><slot></slot></div>
</template>

<script lang="ts">
import { Vue } from 'vue-property-decorator'
import Component from 'vue-class-component'

@Component
export default class ControlPanel extends Vue {}
</script>
