<template>
  <q-card flat bordered class="q-pa-md">
    <div
      v-if="$attrs.label"
      class="q-mb-sm text-bold"
      :class="{
        'text-negative': hasError,
      }"
    >
      {{ $attrs.label }}
    </div>
    <div v-if="hasError" class="text-negative text-small">
      {{ errorText }}
    </div>
    <slot />
    <q-option-group
      v-bind="$attrs"
      v-on="$listeners"
      class="full-width"
      style="margin-left: -16px!important;"
    />
    <slot name="bottom" />
  </q-card>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import { Prop, Vue, Watch } from 'vue-property-decorator'

@Component({
  inheritAttrs: false,
})
export default class FieldOptions extends Vue {
  @Prop({ type: Object, default: () => ({}) })
  errors?: { [key: string]: string }

  @Prop(String)
  name?: string

  get errorText(): string {
    if (!this.errors || !this.name) {
      return ''
    }

    return this.errors[this.name] || ''
  }

  get hasError(): boolean {
    if (!this.errors || !this.name) {
      return false
    }

    return this.name in this.errors
  }

  @Watch('$attrs.value')
  resetError() {
    if (this.hasError && this.errors && this.name) {
      this.$delete(this.errors, this.name)
    }
  }
}
</script>
