<template>
  <q-input
    v-bind="$attrs"
    v-on="$listeners"
    outlined
    :error-message="hideBottomSpace ? undefined : errorText"
    :error="hasError"
    :hide-bottom-space="
      hideBottomSpace === undefined ? hasError : hideBottomSpace
    "
  >
    <template v-for="(_, slot) of $scopedSlots" v-slot:[slot]="scope">
      <slot :name="slot" v-bind="scope" />
    </template>
  </q-input>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import { Prop, Vue, Watch } from 'vue-property-decorator'

@Component({
  inheritAttrs: false,
})
export default class FieldInput extends Vue {
  @Prop({ type: Object, default: () => ({}), required: false })
  errors?: { [key: string]: string }

  @Prop({ type: Boolean, default: () => true })
  hideBottomSpace?: boolean

  @Prop(String)
  name?: string

  get errorText(): string {
    if (!this.errors || !this.name) {
      return ''
    }

    return this.errors[this.name] || ''
  }

  get hasError(): boolean {
    if (!this.errors || !this.name) {
      return false
    }

    return this.name in this.errors
  }

  @Watch('$attrs.value')
  resetError() {
    if (this.hasError && this.errors && this.name) {
      this.$delete(this.errors, this.name)
    }
  }
}
</script>
