<template>
  <q-select
    v-bind="$attrs"
    v-on="$listeners"
    :error-message="hideBottomSpace ? undefined : errorText"
    :error="hasError"
    :hide-bottom-space="
      hideBottomSpace === undefined ? hasError : hideBottomSpace
    "
    :inputDebounce="80"
    outlined
    hide-selected
    use-input
    fill-input
  >
    <template v-slot:no-option>
      <q-item>
        <q-item-section class="text-grey">
          Ничего не найдено
        </q-item-section>
      </q-item>
    </template>
  </q-select>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import { Prop, Vue, Watch } from 'vue-property-decorator'

@Component({
  inheritAttrs: false,
})
export default class FieldSelectAsync extends Vue {
  @Prop({ type: Object, default: () => ({}) })
  errors?: { [key: string]: string }

  @Prop({ type: Boolean, default: () => true })
  hideBottomSpace?: boolean

  @Prop(String)
  name?: string

  get errorText(): string {
    if (!this.errors || !this.name) {
      return ''
    }
    return this.errors[this.name] || ''
  }

  get hasError(): boolean {
    if (!this.errors || !this.name) {
      return false
    }
    return this.name in this.errors
  }

  @Watch('$attrs.value')
  resetError() {
    if (this.hasError && this.errors && this.name) {
      this.$delete(this.errors, this.name)
    }
  }
}
</script>
