<template>
  <q-inner-loading :showing="isShow" style="z-index: 999">
    <q-spinner-dots size="50px" color="primary" />
  </q-inner-loading>
</template>

<script>
export default {
  name: 'PageLoading',
  props: {
    isShow: Boolean,
  },
}
</script>
