<template>
  <q-dialog v-on="$listeners" v-bind="$attrs">
    <q-card class="q-pa-md">
      <q-card-section>
        <div class="text-h6">{{ title }}</div>
      </q-card-section>

      <q-card-section>
        <slot />
      </q-card-section>

      <q-card-actions align="left" class="no-wrap">
        <slot name="buttons" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import { Prop, Vue } from 'vue-property-decorator'

@Component
export default class Modal extends Vue {
  @Prop(String)
  title?: string
}
</script>
