<template>
  <div class="not-found">
    <img src="../../assets/not-found.svg" alt="" />
    <div class="text-h6 text-grey-6 q-mt-md">
      <slot>Ничего не найдено</slot>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue } from 'vue-property-decorator'
import Component from 'vue-class-component'

@Component
export default class NotFound extends Vue {}
</script>
