<template>
  <div class="q-pa-md q-gutter-x-md row items-center no-wrap content-header">
    <slot name="title">
      <div v-show="!!title" class="text-h5">{{ title }}</div>
    </slot>

    <slot name="left"></slot>
    <div class="q-ml-auto flex q-gutter-sm no-wrap">
      <slot></slot>
    </div>
  </div>
</template>

<script lang="ts">
import { Prop, Vue } from 'vue-property-decorator'
import Component from 'vue-class-component'

@Component
export default class PageHeader extends Vue {
  @Prop(String)
  title?: string
}
</script>
