<template>
  <q-drawer
    :side="side"
    :value="isShow"
    :bordered="side === 'left'"
    :width="width"
    :content-class="{
      'no-border': true,
      'bg-grey-11': side === 'left',
      'sidebar-right': side === 'right',
    }"
    :mini="isMinified"
    @click.capture="onDrawerClick"
  >
    <q-list padding v-if="isMinified">
      <q-item clickable v-ripple>
        <q-item-section avatar>
          <q-icon name="menu" />
        </q-item-section>
      </q-item>
      <q-item v-if="minifiedText">
        <q-item-section class="minified-text text-subtitle2">
          {{ minifiedText }}
        </q-item-section>
      </q-item>
    </q-list>
    <slot v-if="!isMinified" />
    <div
      v-show="miniMode"
      class="q-mini-drawer-hide absolute"
      style="top: 19px; right: 12px"
    >
      <q-btn
        @click="$emit('change-mini', false)"
        dense
        round
        unelevated
        color="primary"
        icon="keyboard_backspace"
      />
    </div>
  </q-drawer>
</template>

<script lang="ts">
import { Prop, Vue } from 'vue-property-decorator'
import Component from 'vue-class-component'

@Component
export default class Sidebar extends Vue {
  @Prop(String)
  minifiedText?: string

  @Prop(Boolean)
  isShow?: boolean

  @Prop(String)
  side?: 'left' | 'right'

  @Prop(Number)
  width?: boolean

  @Prop(Boolean)
  miniMode?: boolean

  @Prop(Boolean)
  isMinified?: boolean

  onDrawerClick(e: Event) {
    if (this.isMinified) {
      e.stopPropagation()
      this.$emit('change-mini', true)
    }
  }
}
</script>
