<template>
  <q-splitter
    v-bind="$attrs"
    v-on="$listeners"
    v-model="value"
    :limits="full ? [0, isPixelUnit ? 100000 : 100] : limits"
    :class="{ 'hide-separator': full }"
    :style="style"
    :unit="isPixelUnit && !full ? 'px' : '%'"
    separator-style="width: 6px"
    separator-class="bg-dark"
    after-class="bg-grey-11"
  >
    <template v-for="(_, slot) of $scopedSlots" v-slot:[slot]="scope">
      <slot :name="slot" v-bind="scope" />
    </template>
    <template v-slot:separator>
      <div class="dark-seporator-content"></div>
    </template>
  </q-splitter>
</template>

<style>
.dark-seporator-content {
  height: 40px;
  width: 2px;
  border-radius: 2px;
  background-color: #e0e2e3;
}
</style>

<script lang="ts">
import { Inject, Prop, Vue, Watch } from 'vue-property-decorator'
import Component from 'vue-class-component'

const localKey = 'splitter'

@Component({ inheritAttrs: false })
export default class Splitter extends Vue {
  @Prop(String) id?: string
  @Prop(Boolean) full?: boolean
  @Prop(Boolean) isPixelUnit?: boolean
  @Prop({ type: Array, default: () => [0, 100] }) limits?: number[]

  @Inject('layout')
  layout: any

  value: number = 50
  previousValue: number | null = null

  created() {
    if (this.full) {
      return
    }

    const savedValue = localStorage.getItem(this.localKey)

    if (savedValue) {
      this.value = parseInt(savedValue)
    }
  }

  get style(): { [key: string]: string | number } {
    const offset =
      (this.layout.header.space === true ? this.layout.header.size : 0) +
      (this.layout.footer.space === true ? this.layout.footer.size : 0)

    return {
      height: this.$q.screen.height - offset + 'px',
    }
  }

  get localKey(): string {
    return this.id || localKey
  }

  @Watch('value')
  localSave(value: number) {
    if (!this.full) {
      localStorage.setItem(this.localKey, value.toString())
    }
  }

  @Watch('full', { immediate: true })
  updateValue(full: boolean) {
    if (full) {
      this.previousValue = this.value
      this.value = 100
    } else {
      this.value = this.previousValue ? this.previousValue : 50
    }
  }
}
</script>
