<template>
  <q-toggle
    @input="emitValue"
    v-bind="$attrs"
    :label="label"
    :left-label="labelPosition === 'left'"
    color="green"
    checked-icon="check"
    unchecked-icon="clear"
  />
</template>

<script lang="ts">
import Component from 'vue-class-component'
import { Prop, Vue } from 'vue-property-decorator'

@Component
export default class ToggleBtn extends Vue {
  @Prop(Object)
  labels?: { on: string; off: string }

  @Prop({ type: String, default: () => 'left' })
  labelPosition?: string

  get label(): string | null {
    if (!this.labels) {
      return null
    }

    return this.$attrs.value ? this.labels.on : this.labels.off
  }

  emitValue(value: boolean) {
    this.$emit('input', value)
  }
}
</script>
