<template>
  <q-btn-toggle
    v-bind="$attrs"
    v-on="$listeners"
    no-caps
    unelevated
    toggle-text-color="white"
    toggle-color="primary"
    text-color="primary"
    class="custom-toggle"
  />
</template>

<script lang="ts">
import { Vue } from 'vue-property-decorator'
import Component from 'vue-class-component'

@Component({ inheritAttrs: false })
export default class ToggleButtons extends Vue {}
</script>
