<template>
  <q-toolbar class="bg-blue-grey-10 text-white q-pl-none">
    <div style="width: 300px" class="flex items-center">
      <q-btn
        type="a"
        href="http://s25.work"
        unelevated
        round
        icon="more_vert"
        color="primary"
        class="projects-menu"
      />
      <span class="logo-img">
        <slot name="image" />
      </span>
      <q-toolbar-title v-to="'/'" shrink class="cursor-pointer">
        {{ title }}
      </q-toolbar-title>
    </div>
    <div class="flex q-gutter-x-sm">
      <slot name="left" />
      <q-btn
        v-for="(link, index) in links"
        :to="link.route"
        :key="index"
        :label="link.label"
        :color="isActiveRoute(link.route) ? 'primary' : ''"
      />
    </div>
    <q-space />
    <div class="q-gutter-x-sm">
      <slot name="right" />
    </div>
  </q-toolbar>
</template>

<script lang="ts">
// slots: image, left, right
import { Prop, Vue } from 'vue-property-decorator'
import Component from 'vue-class-component'
import { RawLocation } from 'vue-router'
import ToolbarLink from '../dto/ToolbarLink'

@Component
export default class Toolbar extends Vue {
  @Prop(String)
  title?: string

  @Prop({ type: Array, default: () => [] })
  links?: ToolbarLink[]

  isActiveRoute(link: RawLocation): boolean {
    return this.$route.matched
      .map(match => match.name)
      .includes(typeof link === 'string' ? link : link.name)
  }
}
</script>
