<template>
  <span>
    <client-avatar
      v-if="user"
      :image="user.avatar"
      :first-name="user.firstName"
      :last-name="user.lastName"
      class="cursor-pointer"
    />
    <q-btn v-else dense round loading class="no-pointer-events" />
    <q-menu v-if="user" v-model="isShowMenu">
      <q-list>
        <q-item class="q-my-sm">
          <q-item-section avatar>
            <client-avatar
              v-if="user"
              :image="user.avatar"
              :first-name="user.firstName"
              :last-name="user.lastName"
            />
          </q-item-section>
          <q-item-section>
            <q-item-label class="text-no-wrap">{{ userFullName }}</q-item-label>
            <q-item-label caption lines="1">
              {{ user.positionName }}
            </q-item-label>
          </q-item-section>
        </q-item>
        <q-item @click="logout" class="q-mb-sm" v-ripple clickable>
          <q-item-section>
            <q-item-label>Выйти</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-menu>
  </span>
</template>

<script lang="ts">
import { Vue } from 'vue-property-decorator'
import UserService from '../../common/services/UserService'
import { User } from '../../../dto'
import Component from 'vue-class-component'
import ClientAvatar from './UserAvatar.vue'

@Component({ components: { ClientAvatar } })
export default class UserToolbarMenu extends Vue {
  user: User | null = null
  isShowMenu: boolean = false

  created() {
    UserService.getUser().then(user => (this.user = user))
  }

  logout() {
    UserService.logout().then(url => location.assign(url))
  }

  get userFullName(): string {
    const user = this.user as User
    return `${user.lastName} ${user.firstName}`
  }
}
</script>
