<template>
  <q-avatar
    v-bind="$attrs"
    size="md"
    color="primary"
    text-color="white"
    class="user-avatar"
  >
    <img v-if="image" :src="uniqueImage" :alt="fullName" />
    <span v-else>{{ userInitials }}</span>
  </q-avatar>
</template>

<script lang="ts">
import { Prop, Vue } from 'vue-property-decorator'
import Component from 'vue-class-component'

@Component({ inheritAttrs: false })
export default class UserAvatar extends Vue {
  @Prop({ type: String })
  image?: string

  @Prop({ type: String })
  firstName?: string

  @Prop({ type: String })
  lastName?: string

  get uniqueImage(): string {
    return this.image + '?' + new Date().getTime()
  }

  get fullName(): string {
    return `${this.lastName} ${this.firstName}`
  }

  get userInitials(): string {
    return `${this.lastName ? this.lastName[0] : ''}${
      this.firstName ? this.firstName[0] : ''
    }`.toUpperCase()
  }
}
</script>

<style>
.user-avatar span {
  font-size: 0.8em;
}
</style>
