<template>
  <q-layout view="hHh Lpr lff">
    <q-header>
      <toolbar title="Delivery Tracking" :links="[]">
        <template v-slot:image>
          <img src="../assets/svg/delivery-tracking.svg" alt="" />
        </template>
      </toolbar>
    </q-header>
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import Vue from 'vue'
import Toolbar from '@/common/components/Toolbar.vue'

@Component({
  components: {
    Toolbar,
  },
})
export default class DefaultLayout extends Vue {}
</script>
